<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.gdu.cash.mapper.NoticeCommentMapper">
	<!-- 공지사항에 댓글 작성 -->
	<insert id="insertNoticeComment" parameterType="kr.co.gdu.cash.vo.NoticeComment">
		INSERT INTO notice_comment (
			notice_id,
			notice_comment_content,
			notice_comment_date
		) VALUES (
			#{noticeId},
			#{noticeCommentContent},
			NOW()
		)			
	</insert>
	
	<!-- 공지사항의 댓글 개별 삭제 -->
	<delete id="deleteNoticeCommentOne" parameterType="int">
		DELETE FROM notice_comment
		WHERE notice_comment_id = #{noticeCommentId}
	</delete>
	
	<!-- 공지사항 삭제 시 해당 공지사항의 댓글 일괄 삭제 -->
	<delete id="deleteNoticeCommentAll" parameterType="int">
		DELETE FROM notice_comment
		WHERE notice_id = #{noticeId}
	</delete>
</mapper>